.inner {
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 5%;
  padding: 0px;
}

.rest {
  width: 20%;
  height: 100%;
  margin-left: 2%;
}

.orderDashboard {
  width: 45%;
  height: 100%;
}

.rest .cal {
  width: 100%;
  margin-top: 30px;
}

.cal span {
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  font-weight: 600;
}

.cal .calendar {
  margin-top: 10px;
}

.cal .today {
  background-color: #3c68ba;
}

.rest .shortcut {
  margin-top: 10%;
}

.rest .sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  white-space: nowrap;
}

.sales p {
  margin-left: 0px;
  color: #575757;
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  font-weight: 500;
  background: none;
}

.sales h2 {
  margin-top: 10px;
  margin-left: 0px;
  font-family: "Hahmlet-Regular";
  color: #323232;
}

.orders {
  width: 50vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.orderTodays {
  width: 35vw;
  height: 40vw;
  position: relative;
  overflow-y: scroll;
  z-index: 2;
  border: none;
  padding: 0 1% 0 1%;
}

.orderTodaysHeader {
  display: flex;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.orderTodays hr {
  width: 100%;
  margin-top: 10%;
  margin-left: 0;
  border: 1px solid #b8b3b3;
}

.orderTodays ul {
  margin-top: 10px;
  max-height: 100%;
  overflow-y: visible;
  background-color: #fff;
}

.orderTodays li {
  margin: 10% 0 0 0;
  font-family: "Hahmlet-Regular";
  font-size: 25px;
  color: #444444;
}

.orderTodays .manageBtn {
  float: right;
  margin-top: -5%;
}

.manageBtn span {
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  color: #5c5c5c;
}

.orderTodaysHeader h2 {
  white-space: nowrap;
  color: #323232;
  font-family: "Hahmlet-SemiBold";
  font-size: 35px;
  font-weight: 800;
}

.infoBody {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
}

.orderSeq {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.orderSeq span {
  margin-left: 0px;
  margin-bottom: 5px;
  border: none;
  color: #323232;
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}
.orderSeqBody {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 30px;
  margin-top: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 100px;
}

.orderSeqBody div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.orderSeqBody div .process {
  min-width: 30px;
  max-width: 70px;
}

.orderSeqBody div p {
  text-align: center;
  font-family: "Hahmlet-Regular";
  font-size: 15px;
  background: none;
}

.orderSeqBody .arrowDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderSeqBody .arrow {
  min-width: 30px;
  max-width: 70px;
  height: 45px;
}

.orderDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
}

.orderDetail span {
  margin-left: 0;
  margin-bottom: 5px;
  border: none;
  color: #323232;
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

/* .orderDetailBorder {
  padding: 10px;
  border: 1px solid #d2d2d2;
} */

.orderDetail .orderContents {
  display: flex;
  justify-content: flex-start;
  width: auto;
  /* white-space: nowrap; */
  padding: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin: 10px auto 0 0;
  border: 1px solid #d2d2d2;
}

.selectedOrderDiv {
  padding: 5px;
  background-color: #e2e2e2;
}
