.inner {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.menus,
.middle,
.theMenu {
  margin-top: 30px;
  display: flex;
  flex-flow: column wrap;
}

.menus {
  width: 40%;
  height: 1000px;
  margin-left: 2%;
  margin-bottom: 5%;
  box-shadow: 2px 5px 8px #686868;
}

.menus h2 {
  padding-left: 2%;
  padding-right: 2%;
  transform-origin: center;
  transform: rotate(-16deg);
  border: none;
  background-color: rgba(255, 147, 69, 0.5);
}

.menus h2 span {
  display: inline-block;
  transform: rotate(16deg);
}

.menus ul {
  width: 100%;
  max-height: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
}

.menus ul li {
  width: 90%;
  margin: 5% auto 5% 5%;
  padding: 2% 0 2% 5%;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 25px;
}

.middle {
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle p {
  white-space: nowrap;
  background: none;
}

.middle img {
  margin-top: 5%;
  width: 50px;
  height: 50px;
}

.theMenu {
  width: 60%;
  display: flex;
  margin-right: 2%;
  margin-bottom: 5%;
  background-color: #fff;
  box-shadow: 2px 5px 10px #686868;
}

.headOfTheMenu {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 10px;
}

.theMenu h2 {
  color: #000;
  text-align: center;
  margin-left: 40%;
}

.theMenus {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.contentsOfTheMenu {
  margin-top: 10px;
  margin-bottom: 10px;
}
