.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.historyHead {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  width: 85%;
  height: 100px;
  margin-top: 30px;
  border-top: 4px solid #ff9345;
  border-bottom: 4px solid #ff9345;
}

.historyHead form {
  margin-left: 20px;
  background: transparent;
}

.historyHead h3 {
  margin-right: 20px;
  white-space: nowrap;
  font-family: "Hahmlet-Bold";
  font-size: 30px;
}

.historyBody {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.historyBodyTop {
  display: flex;
  margin: 10px 0 5px auto;
}

.historyBodyBottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.sortButtons button {
  margin: 0 5px;
}

.leftHBody {
  display: flex;
  width: 20%;
  margin-left: 20px;
  margin-right: auto;
}

.orderUl {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.orderList li {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: "Hahmlet-Regular";
  font-size: 20px;
  white-space: nowrap;
  border: 2px solid #000;
}

.orderList li span {
  font-size: 18px;
}

.selectedOrder {
  color: #fff;
  background-color: #000926;
}

.orderUl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  background-color: #fff;
}

.pageFooter {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100px;
  position: relative;
  bottom: 30px;
  background-color: #fff;
}

.verticalLine {
  width: 2px;
  height: 600px;
  margin-left: 100px;
  background-color: #000;
}

.rightHBody {
  display: flex;
  width: 90%;
  height: 600px;
  overflow-y: auto;
  margin-right: 20px;
  margin-left: 100px;
  flex-direction: column;
}

.submitCheckedDate {
  width: 5vw;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Hahmlet-Medium";
  font-size: 20px;
  background-color: #000926;
}

.CheckDate {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 30vw;
}

.CheckDate label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 15vw;
  white-space: nowrap;
  font-family: "Hahmlet-Regular";
}

.CheckDate label input {
  margin: 0 10px;
  padding: 0 5px;
  height: 2vw;
  font-family: "Hahmlet-Regular";
}
