.body {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
}

.vertical {
  width: 2px;
  height: 180px;
  margin-right: 3%;
  background-color: #686868;
}

.body span {
  margin-left: 0;
  max-width: 35%;
  padding: 2%;
  border-radius: 0 20px 0 0;
  white-space: nowrap;
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  font-weight: 600;
  /* background-color: #ff9345; */
}

.icons {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: auto;
  padding: 5% 2%;
  border: 1px solid #d7d7d7;
  border-radius: 0 20px 20px 0;
}

.icons div {
  flex-flow: column;
}

.icons button:hover {
  padding: 5px;
  background-color: #e2e2e2;
  /* border: 2px solid #337db1; */
}

.icons button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons button,
.icons button p {
  border: none;
  background: none;
}

.icons button p {
  margin: 5% auto;
  white-space: nowrap;
  font-family: "Hahmlet-Light";
}

.icons button img {
  max-width: 28%;
  height: auto;
}
