.content {
  display: flex;
  flex-flow: column;
  height: auto;
}

.statusBar {
  width: 100%;
}

.status {
  width: 400px;
  height: auto;
  display: flex;
  float: right;
  flex-direction: row;
  margin: 10px 50px 10px 0px;
}

.statusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 10px;
  padding: 25px;
  font-size: 20px;
  font-family: "Hahmlet-SemiBold";
  line-height: 16px;
  color: #000;
  background: #fff;
  border: 2px solid #ff9345;
  border-radius: 10px;
}

.description {
  width: 100%;
  height: auto;
}

.description h2 {
  float: left;
  text-align: center;
  width: auto;
  margin: 10px 10px 0px 50px;
  border-radius: 300px 300px 0 0;
  font-family: "Hahmlet-SemiBold";
  background: #ff9345;
}

.desc {
  width: 93%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  margin: 0px 50px 10px 50px;
  background-color: #fff;
  border: 2px solid black;
}

.intro {
  height: auto;
  float: left;
  padding: 20px;
  margin: 10px 50px 0px 50px;
  background-color: #d9d9d9;
}

.opentime {
  float: left;
  padding: 20px;
  margin: 10px 50px 0px 50px;
  background-color: #d9d9d9;
}

.noticeBlock {
  width: 100%;
}

.noticeBlock h2 {
  float: left;
  text-align: center;
  margin: 10px 0px 0px 50px;
  width: 300px;
  font-family: "Hahmlet-SemiBold";
  border-radius: 0px 300px 0px 0px;
  background: #337db1;
}

.notice {
  width: 93%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 0px 50px 10px 50px;
}

.notice .innerNotice {
  float: left;
  padding: 20px;
  margin: 10px 50px 0px 50px;
  background-color: #d9d9d9;
}

.modifyBtn {
  font-family: "Hahmlet-Regular";
  margin: auto 0px 0px auto;
}

.description h3,
.notice h3 {
  font-family: "Hahmlet-Medium";
  font-size: 20px;
}

.description p,
.notice p {
  width: 65%;
  height: auto;
  font-family: "Hahmlet-Light";
  font-size: 18px;
  margin: 10px 50px 0px 50px;
  background-color: #d9d9d9;
}

.description textarea,
.notice textarea {
  width: 70%;
  height: auto;
  font-family: "Hahmlet-Light";
  font-size: 18px;
  margin: 10px 50px 0px 50px;
  background-color: #d9d9d9;
}
