table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
}

th,
.orderTH {
  font-size: 18px;
  font-weight: 600;
}

.menuTD {
  height: 50px;
  margin-right: 5px;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 20px;
}

tbody .orderTD {
  height: 20%;
  font-size: 25px;
  background-color: #e9e9e9;
}

tfoot {
  border-top: 1px solid #ddd;
}

tfoot td {
  height: 10px;
  font-size: 20px;
  font-weight: 700;
}

.orderTimeCell {
  width: 20%;
}

.orderMenusCell {
  width: 50%;
}

.orderPriceCell {
  width: 30%;
}
