@font-face {
  font-family: "Hahmlet-Bold";
  src: url("../Fonts/Hahmlet-Bold.ttf");
}

@font-face {
  font-family: "Hahmlet-SemiBold";
  src: url("../Fonts/Hahmlet-SemiBold.ttf");
}

@font-face {
  font-family: "Hahmlet-ExtraBold";
  src: url("../Fonts/Hahmlet-ExtraBold.ttf");
}

@font-face {
  font-family: "Hahmlet-ExtraLight";
  src: url("../Fonts/Hahmlet-ExtraLight.ttf");
}

@font-face {
  font-family: "Hahmlet-Light";
  src: url("../Fonts/Hahmlet-Light.ttf");
}

@font-face {
  font-family: "Hahmlet-Medium";
  src: url("../Fonts/Hahmlet-Medium.ttf");
}

@font-face {
  font-family: "Hahmlet-Regular";
  src: url("../Fonts/Hahmlet-Regular.ttf");
}

@font-face {
  font-family: "Hahmlet-SemiBold";
  src: url("../Fonts/Hahmlet-SemiBold.ttf");
}

@font-face {
  font-family: "Hahmlet-Thin";
  src: url("../Fonts/Hahmlet-Thin.ttf");
}

@font-face {
  font-family: "NotoSansKR-Black";
  src: url("../Fonts/NotoSansKR-Black.ttf");
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("../Fonts/NotoSansKR-Bold.ttf");
}

@font-face {
  font-family: "NotoSansKR-ExtraBold";
  src: url("../Fonts/NotoSansKR-ExtraBold.ttf");
}

@font-face {
  font-family: "NotoSansKR-ExtraLight";
  src: url("../Fonts/NotoSansKR-ExtraLight.ttf");
}

@font-face {
  font-family: "NotoSansKR-Light";
  src: url("../Fonts/NotoSansKR-Light.ttf");
}

@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("../Fonts/NotoSansKR-Medium.ttf");
}

@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("../Fonts/NotoSansKR-Regular.ttf");
}
@font-face {
  font-family: "NotoSansKR-SemiBold";
  src: url("../Fonts/NotoSansKR-SemiBold.ttf");
}

@font-face {
  font-family: "NotoSansKR-Thin";
  src: url("../Fonts/NotoSansKR-Thin.ttf");
}
