.login,
.register,
.changeUser,
.duplicateCheck,
.nameDuplicateCheck,
.registerStore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  border-radius: 10px;
  border: 1px solid #fd773e;
  text-align: center;
  color: #fff;
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  font-weight: 600;
  background-color: #fd773e;
}

.Check {
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  font-family: "Hahmlet-SemiBold";
  font-size: 12px;
  background-color: #fd773e;
}

.login {
  width: 400px;
  height: 40px;
  margin-top: 10px;
}

.duplicateCheck {
  width: 200px;
  height: 30px;
  margin-top: 25px;
  margin-left: 10px;
}

.nameDuplicateCheck {
  width: 150px;
  padding: 15px 10px;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 10px;
}

.register {
  width: 600px;
  height: 40px;
  margin-top: 10px;
}

.changeUser {
  width: 400px;
  height: 40px;
  margin: 5px auto;
}

.registerStore {
  width: 400px;
  height: 40px;
  margin-top: 10px;
}

.plus {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 50px;
  font-family: "Akaya Telivigala";
  font-style: bold;
  background: #2f365f;
  border: none;
  border-radius: 50%;
}

.modify {
  width: 70px;
  height: 40px;
  color: #000;
  font-size: 20px;
  background-color: #d9d9d9;
}

.modifyMenu,
.saveMenu {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: #393939;
  color: #000;
  font-size: 20px;
  font-family: "Hahmlet-Medium";
  background-color: #ff9345;
}

.modifyImgMenu,
.saveImgMenu {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-family: "Hahmlet-Medium";
  background-color: #2f365f;
}

.getOrder {
  width: 100px;
  height: 40px;
  position: relative;
  transform-origin: center;
  transform: rotate(-16deg);
  border: none;
  background-color: rgba(255, 147, 69, 0.5);
}

.getOrder span {
  white-space: nowrap;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%) rotate(16deg);
}

.checkDate {
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-family: "Akaya Telivigala";
  background-color: #000926;
}

.activeSortBtn {
  padding: 5px 15px 5px 15px;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-family: "Hahmlet-Regular";
}

.inactiveSortBtn {
  padding: 5px 17px 5px 17px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-family: "Hahmlet-Regular";
  color: #fff;
  background-color: #ababab;
}
