.style {
  width: 200px;
  height: 40px;
  margin: auto;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9345;
  text-align: center;
  margin-top: 10px;
  padding: 5px 30px 5px 30px;
  border-radius: 300px;
}

.plus {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 50px;
  font-family: "Akaya Telivigala";
  font-style: bold;
  background: #2f365f;
  border: none;
  border-radius: 50%;
}

.modify {
  width: 70px;
  height: 40px;
  color: #000;
  font-size: 20px;
  background-color: #d9d9d9;
}

.modifyMenu,
.saveMenu {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  color: #000;
  font-size: 25px;
  font-family: "Akaya Telivigala";
  background-color: #ff9345;
}

.modifyImgMenu,
.saveImgMenu {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-family: "Akaya Telivigala";
  background-color: #2f365f;
}
