* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

/* .backgroundDiv {
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
} */

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  left: 40%;
  background: #e7e7e7;
}

.PasswdSection label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 15px 0 20px 0;
  font-family: "Hahmlet-SemiBold";
  font-size: 20px;
  text-align: center;
}

.PasswdSection label input {
  width: 300px;
  height: 40px;
  margin: 5px auto;
  padding: 20px 10px;
  border: 1px solid #e2e1e5;
  border-radius: 5px;
  color: #d2d2d2;
  font-family: "Hahmlet-Regular";
  font-size: 15px;
}

.errorMsg {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  background-color: #efefef;
}
