.inner {
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 5%;
  padding: 0px;
}

.rest {
  width: 20%;
  height: 100%;

  margin-left: 2%;
}

.orderDashboard {
  width: 45%;
  height: 100%;
}

.orderInfo {
  width: 35%;
  height: 100%;
  margin-right: 2%;
  border-radius: 40px 40px 0 20px;
  background-color: #fff;
  box-shadow: 2px 5px 10px #686868;
}

.rest .cal {
  width: 100%;
  margin-top: 15%;
}

.rest .shortcut {
  margin-top: 10%;
}

.rest .sales {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10%;
  white-space: nowrap;
  border-width: 2px 0 2px 0;
  border-color: #000;
  border-style: solid;
}

.rest .sales h3 {
  margin: 0 0 5% auto;
  color: #ff9345;
}

.rest .sales h2,
.rest .sales p {
  margin-left: -5px;
  background: none;
}

.rest .sales h2 {
  font-size: 30px;
}

.rest .sales p {
  font-size: 20px;
  color: #337db1;
}

.orderDashboard .orders {
  max-height: 1000px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.orderDashboard .orders .orderTodays {
  width: 400px;
  position: relative;
  z-index: 2;
  border: none;
  padding: 0 1% 0 1%;
}

.orderDashboard .orders .dashboardBackground {
  width: 30%;
  height: 90%;
  position: absolute;
  z-index: 1;
  margin-top: 2%;
  border: 2px solid #000;
  box-shadow: inset 0 0 10px #686868;
}

.orderDashboard .orders .orderTodays .orderTodaysHeader {
  background-color: #fff;
}

.orderDashboard .orders h2 {
  margin-left: 17%;
  white-space: nowrap;
  font-size: 30px;
}

.orderDashboard .orders .orderTodays hr {
  width: 95%;
  margin-top: 10%;
  margin-left: 0;
  border: 1px solid #b8b3b3;
}

.orderDashboard .orders .orderTodays ul {
  margin-top: 10%;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.orderDashboard .orders .orderTodays li {
  margin: 10% 0 0 0;
  font-size: 20px;
}

.orderDashboard .orders .orderTodays .manageBtn {
  float: right;
  margin-top: -10%;
}

.orderInfo .infoHeader {
  padding: 2%;
  text-align: center;
  border-radius: 40px 40px 0 0;
  background-color: #ff9345;
}

.orderInfo .infoHeader h2 {
  font-size: 30px;
}

.orderInfo .infoBody {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.orderInfo .infoBody .orderSeq {
  box-sizing: border-box;
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2%;
  position: absolute;
}

.orderInfo .infoBody .orderSeq .arrow {
  max-width: 8%;
  height: 5%;
  margin-top: 2%;
}

.orderInfo .infoBody .orderSeq div img {
  max-width: 40%;
  top: 20%;
}

.orderInfo .infoBody .orderSeq div p {
  top: 20%;
  text-align: center;
  background: none;
}

.orderInfo .infoBody .orderDetail {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 30%;
}

.orderInfo .infoBody .orderDetail h3 {
  margin-left: 0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  background-color: #000926;
}

.orderInfo .infoBody .orderDetail .orderContents {
  width: 100%;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-bottom: 5%;
  white-space: nowrap;
  border: 2px solid #000926;
}

.orderInfo .infoBody .orderDetail .orderContents Table {
  margin: 0 auto;
}
