.inner {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  padding: 0px;
}

.menus,
.info {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  margin: 30px;
}

.menus {
  padding: 10px;
  box-shadow: 0px 2px 15px #353333;
}

.info {
  padding: 30px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.menus ul {
  width: 400px;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.menus li {
  width: 100%;
  height: 70px;
  margin: 20px 10px 10px 0px;
  display: flex;
  flex-flow: row;
  align-items: center;
  overflow: hidden;
  font-size: 30px;
  border: 2px solid #2f365f;
  border-radius: 20px;
}

.menus li span {
  margin: 0px auto 0px 50px;
}

.menus li button {
  width: 20%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -1px 0px 0px;
  padding: 20px;
  border: none;
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
  background-color: #ff8383;
}

.menus button {
  margin: 60px 0px 5px auto;
}

hr {
  margin-left: 10px;
}

.info {
  padding: 20px 80px 20px 80px;
  border: 3px solid #000;
}

.info img {
  width: 30%;
  height: auto;
  margin-top: 50px;
  border-radius: 50%;
}

.details {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 2px 15px #353333;
}

.description,
.allergy,
.origin {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
}

.details h3 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px 10px;
  padding: 20px 0px 20px 5px;
  font-size: 20px;
}

.details p,
.details ul {
  width: 60%;
  height: 30%;
  float: left;
  margin-top: 4%;
  margin-right: 10%;
  padding: 5px 0px 5px 5px;
  font-size: 20px;
}

.details p {
  background-color: #fff;
  margin-right: 20%;
}

.details .origin li {
  margin: 10px auto 10px 5px;
  list-style-type: disc;
}

.info .buttons {
  width: 30%;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 10%;
}
