* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.util {
  top: 20px;
  right: 20px;
  z-index: 200;
  float: left;
  display: block;
  padding: 0px 10px;
  position: absolute;
  font: 18px/1 "arial";
  color: #fff;
}

.util a:visited {
  color: #fff;
}

.header {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000926;
}

.header h2 {
  top: 30px;
  left: 20px;
  padding: 30px;
  position: absolute;
  font-size: 30px;
  color: #fff;
}

ul {
  list-style: none;
}

.profile {
  width: 150px;
  right: 20px;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-right: 10px;
  background-color: transparent;
}

.profile img {
  width: 60px;
  height: auto;
  padding: 0;
  border: 1px solid black;
  border-radius: 100%;
}

.profile h3 {
  margin-top: 17px;
  font: bold 25px/1 "arial";
  color: #fff;
  white-space: nowrap;
}

.dropMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
}

.menubarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menubarHeader li {
  margin: 0 20px;
}

.menubarSub {
  display: block;
  padding: 20px 40px;
  transition: all 0.5s;
  position: relative;
  font: bold 23px/1 "arial";
  white-space: nowrap;
  text-decoration: none;
  text-underline-offset: 4px;
  color: #fff;
}

.menubarHeader li a:hover,
.menubarHeader li:hover a,
.menubarSubOfSub li:hover a,
.menubarSubOfSub a:hover {
  position: relative;
  z-index: 40;
  border: 0;
  text-decoration: underline;
  white-space: nowrap;
  background-color: #000926;
  color: #fff;
}

.menubarSubOfSub {
  display: none;
  width: 100%;
  position: absolute;
  text-align: center;
  border: 0;
  z-index: 20;
  font: bold 18px/1 "arial";
  background: #000926;
}

.menubarHeader li:hover .menubarSubOfSub {
  width: auto;
  display: block;
}

.menubarSubOfSub a {
  display: flex;
  height: auto;
  padding: 15px;
  position: relative;
  transition: all 0.5s;
  text-decoration: none;
  white-space: nowrap;
}
