* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.util {
  top: 20px;
  right: 20px;
  z-index: 1;
  float: left;
  display: block;
  padding: 0px 10px;
  position: absolute;
  font: 18px/1 "arial";
  color: #999;
}

.header {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header h2 {
  top: 30px;
  left: 20px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  font-size: 30px;
}

ul {
  list-style: none;
}

.menubar_head {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.profile {
  width: 150px;
  right: 20px;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-right: 10px;
  background-color: transparent;
}

.profile img {
  width: 60px;
  height: auto;
  padding: 0;
  border: 1px solid black;
  border-radius: 100%;
}

.profile h3 {
  margin-top: 17px;
  font: bold 25px/1 "arial";
}

.dropmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.dropmenu ul li {
  float: left;
  flex-direction: row;
}

.dropmenu ul li a {
  display: block;
  padding: 20px 40px;
  transition: all 0.5s;
  font: bold 23px/1 "arial";
  color: #555;
}

.dropmenu ul li a:hover,
.dropmenu ul li:hover a {
  background: #555;
  color: #fff;
}

.dropmenu li ul {
  background: #555;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;
}

.dropmenu li:hover ul {
  display: block;
}

.dropmenu li:hover li a {
  background: none;
}

.dropmenu li ul a {
  display: block;
  height: 80px;
  margin: 0px;
  padding: 0 10px 0 15px;
  text-align: left;
}

.dropmenu li ul a:hover,
.dropmenu li ul li:hover a {
  background-color: #ddd;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
