.semiCircleGaugeChartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 페이지 전체 높이에 맞게 조절 */
  /* background-color: #f0f0f0; */
  background-color: yellow;
}
