* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.background {
  background-color: #e7e7e7;
  padding-top: 30px;
  padding-bottom: 10vw;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 3% 10%;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.desc h1,
.desc span {
  margin: auto;
}

.desc h1 {
  font-family: "Hahmlet-Bold";
  font-size: 45px;
  font-weight: 900;
}

.desc span {
  margin: 5px auto;
  font: 20px/1 "Hahmlet-Medium";
  color: #9c9c9c;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin-top: 10px;
  padding: 50px 0;
  max-width: 100vw;
  background-color: #fff;
}

.RegisterForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.storeNameDiv {
  display: flex;
  flex-direction: column;
  height: 7vw;
}

.storeNameCheckDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.storeNameCheckDiv button {
  margin-left: 10px;
}

.selectTimeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-right: auto;
}

.RegisterForm span,
.RegisterForm input {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: auto;
}

.RegisterForm label,
.RegisterForm span,
.RegisterForm input,
.selectTimeDiv {
  background: none;
}

.RegisterForm span,
.selectTimeDiv span,
.setDescAndNoticeDiv span {
  margin-left: 0px;
  margin-right: auto;
  font-size: 20px;
  font-weight: 700;
  font-family: "Hahmlet-SemiBold";
}

.RegisterForm label input,
.RegisterForm label textarea {
  padding: 10px;
  margin-left: 0px;
  border: 1px solid #d2d2d2;
  font-family: "Hahmlet-Regular";
}

.RegisterForm label input {
  width: 13vw;
}

.RegisterForm label textarea {
  width: 30vw;
}
.setDescAndNoticeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setDescAndNoticeDiv label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-left: 0px;
  margin-right: auto;
}

button {
  margin-bottom: 10px;
}
