/* styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .inner {
    height: auto;
  }

  .desc {
    padding: 50px 20px;
  }

  .notice {
    padding: 50px 20px;
  }

  /* adjust other styles as needed */
}

/* styles for screens between 600px and 1200px */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .desc {
    margin-left: 70px;
  }

  /* adjust other styles as needed */
}

/* styles for screens larger than 1200px */
@media screen and (min-width: 1200px) {
  p {
    font-size: 15px;
  }

  /* adjust other styles as needed*/
}

.inner {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  height: 700px;
  margin: 0px;
  padding: 0px;
}

.status {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 50px;
  top: 30px;
  width: 400px;
  height: auto;
  border: 2px solid #ff9345;
  border-radius: 10px;
}

.statusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 20px;
  font-size: 20px;
  font-family: "Akaya Telivigala";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: #fff;
  border: none;
  border-radius: 10px;
}

.statusButton:active {
  background-color: #ff9345;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  height: auto;
}

.desc {
  /* box-sizing: border-box; */
  display: flex;
  width: 1600px;
  height: 300px;
  margin-top: 150px;
  border: 1px solid black;
}

.desc h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 125px;
  left: 80px;
  width: 300px;
  height: 50px;
  background: #ff9345;
  border-radius: 300px 300px 0 0;
}

.desc button {
  position: absolute;
  top: 150px;
  right: 52px;
}

.desc .info {
  display: flex;
  margin-top: 100px;
  flex: 0 0 auto;
}

.desc .info h3,
.desc .info p {
  align-self: flex-start;
}

.notice {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  height: 300px;
  margin-top: 150px;
  border: 1px solid black;
}

.notice h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 580px;
  left: 80px;
  width: 300px;
  height: 50px;
  background: #337db1;
  border-radius: 0 300px 0 0;
}

.notice button {
  position: absolute;
  top: 600px;
  right: 45px;
}

.div p {
  font: normal 15px "arial";
}

input {
  width: 300px;
  height: 30px;
  font-size: 15px;
}
