table {
  border-collapse: collapse;
  /* width: 100%; */
  width: 28vw;
}

th,
td {
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  color: #323232;
}

th,
.orderTH {
  font-family: "Hahmlet-SemiBold";
  font-size: 18px;
  font-weight: 600;
}

td {
  font-family: "Hahmlet-Regular";
}

.menuTD {
  height: 50px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  white-space: nowrap;
}
tfoot {
  border-top: 1px solid #ddd;
}

tfoot td {
  height: 10px;
  font-size: 20px;
  font-weight: 500;
}

.orderTimeCell {
  width: 20%;
}

.orderMenusCell {
  width: 50%;
}

.orderPriceCell {
  width: 30%;
}
