.menuContainer {
  width: 60%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #fff;
}

.menuItem {
  height: 200px;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
  border: 1px solid black;
}

.menuItemImg {
  width: 80%;
  max-width: 150px;
  max-height: 150px;
  margin: 2%;
  object-fit: cover;
}

.menuItemDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuItemName,
.menuItemPrice {
  white-space: nowrap;
  font-size: 15px;
}

.gridHovered {
  border: 5px dashed #ff9345;
}
