.gazePoint,
.overGazePoint,
.overGP,
.gpInCircle {
  position: absolute;
  width: 5px;
  height: 5px;
}

.gazePoint {
  background-color: red;
}

.overGazePoint {
  background-color: rgb(149, 248, 0);
}

.overGP {
  background-color: blue;
  opacity: 0.4;
}

.fixCircle {
  fill: rgb(122, 126, 184);
}

.fixCircle,
.gradCircle {
  position: absolute;
  opacity: 0.5;
}

.gazePlot {
  position: relative;
  width: 643.2px;
  height: auto;
  border: 1px solid black;
  /* margin: 20px; */
}

.gazePlotRow {
  display: flex;
  margin-bottom: 20px;
}

.gazeScreenName {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #002b13;
}

.screensForCompare {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.screensBeforeFilter,
.screensAfterFilter,
.screensOverLapGaze {
  flex: 1;
  flex-direction: column;
  margin: 0 10px;
}

.screensBeforeFilter {
  margin: 0 10px 0 auto;
}

.screensAfterFilter {
  margin: 0 10px 0 10px;
}

.screensOverLapGaze {
  margin: 0 auto 0 10px;
}

.head {
  display: flex;
  flex-flow: row nowrap;
}

.head h1,
.head h3 {
  margin: 0 auto 10px 20px;
}

.inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 10px 0 auto;
}

.inputs label {
  font-size: 15px;
  /* width: 10vw; */
  margin: 0px 5px;
}

.inputs input {
  width: 12vw;
  margin: 10px 5px 5px 5px;
}

.inputs button {
  width: 5vw;
  height: 2vw;
  margin-left: 10px;
}
