* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  padding: 50px;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
}

.align {
  align-items: left;
}
